<form (submit)="onSubmit()">
    <div class="form-input">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" [(ngModel)]="username">
    </div>
    <div class="form-input">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
    </div>
    <button type="submit">Se connecter</button>
</form>