<div *ngIf="Tuteur; else notExist">
    <div>{{ Tuteur.nom }}</div>
    <ul>
        <li *ngFor="let enfant of Tuteur.enfants">{{ enfant.nom }}</li>
    </ul>
</div>

<ng-template #notExist>Pas de tuteur</ng-template>
